:root {
  --white: #fafafa;
  --grey: #737373;
  --black: #0a0a0a;
  --theme: #065f46;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  background: var(--white);
}

body {
  color: var(--black);
}
